{"botinfo":
    {"auth":"auth+live+#####",
    "userid":"#####",
    "laptoptype":"chrome"},
 "roomid":"4e130f8d14169c1285007e79",
 "admins":
    {"mainadmin":"4e19d4a2a3f7511323005128"
     "admins": ["#####"] },
}
